aclocal.m4
autom4te.cache
build
config.*
configure
cscope.*
tags
depcomp
INSTALL
install-sh
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
stamp-h2
test-driver
*compile
*.gcda
*.gcno
*.sw?
*~
*.lo
*.la
*.o
*.tar.gz
*.rpm
*.diff
*.patch
.libs
.deps
.nfs*
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Softlinks to test and log
log
*.vol

# editor
*.swp

# nfs files
*.nfs0*

__run

